html {
    overflow-y: scroll;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "nav"
        "aside"
        "main"
        "footer";
}

aside {
    width: 100vw;
    justify-content: center;
    grid-area: aside;
    text-align: center;
}

main {
    width: 100vw;
    justify-content: center;
    text-align: center;
    grid-area: main;
}

footer {
    width: 100vw;
    grid-area: footer;
}

img {
    grid-area: aside;
    width: 360px;
    height: 380px;
    justify-content: center;
    transform: translateY(100%);
    border: 10px solid skyblue;
    border-radius:5px;
}

p {
    font-size: 60px;
    transform: translateY(400%);
}

.blue {
    color: skyblue;
}

.navbar {
    background-color: #494949;
    position: fixed;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100vh;
    z-index: 9999;
    transition: 1.5s ease-in-out;
}

.navbar ul {
    display: block;
    list-style: none;
    text-align: center;
    transform: translateY(50%);
}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 60px;
    padding: 0px 0px;
}

.navbar ul li a:hover {
    text-decoration: underline;
    color: skyblue;
}

#clicked .on {
    display: block;
}

#clicked .off {
    display: none;
}

#clicked:target .navbar {
    display: block;
    transform: translate(100%, 0);
    transition: all 1.5s ease-in-out;
}

#clicked:target .on {
    display: none;
}

#clicked:target .off {
    display: block;
}

#menu,
#close {
    color: whitesmoke;
    font-size: 60px;
    padding-top: 5%;
    transform: translateX(750%);
}

footer {
    font-size: 45px;
}