body {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-areas: "nav nav"
        "aside main"
        "footer footer";
}

aside {
    width: 40vw;
    height: 100vh;
    grid-area: aside;
    justify-content: center;
}

main {
    width: 60vw;
    height: 100vh;
    grid-area: main;
}

p {
    color: white;
    transform: translateY(350%);
    font-size: 2.7em;
    justify-content: center;
}

.blue {
    color: skyblue;
}

img {
    grid-area: aside;
    position: fixed;
    width: 200px;
    height: 220px;
    transform: translate(120%, 110%);
    justify-content: center;
    border: 10px solid skyblue;
    border-radius:5px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #494949;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 15px 0px;
}

.navbar ul li {
    font-family: 'Teko', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    padding: 50px 50px;
}

.navbar ul li a:hover {
    color: skyblue;
    text-decoration: underline;
}

#clicked .on,
.off {
    display: none;
}