* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background: #1C1C1C;
    font-family: 'Teko', sans-serif;
    color: whitesmoke;
    position: sticky;
    width: 100vw;
}

nav {
    grid-area: nav;
    width: 100vw;
}

footer {
    background-color: skyblue;
    color: black;
    position: fixed;
    bottom: 0;
    width: 100vw;
    text-align: center;
    grid-area: footer;
}